DcmsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://Server/" name="DcmsService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://Server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types/>
  <message name="createTRecord">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="createTRecordResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="createSRecord">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="createSRecordResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="getRecordCount"/>
  <message name="getRecordCountResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="editRecord">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:string"/>
    <part name="arg3" type="xsd:string"/>
  </message>
  <message name="editRecordResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="transferRecord">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:string"/>
  </message>
  <message name="transferRecordResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <portType name="Dcms">
    <operation name="createTRecord" parameterOrder="arg0 arg1">
      <input wsam:Action="http://Server/Dcms/createTRecordRequest" message="tns:createTRecord"/>
      <output wsam:Action="http://Server/Dcms/createTRecordResponse" message="tns:createTRecordResponse"/>
    </operation>
    <operation name="createSRecord" parameterOrder="arg0 arg1">
      <input wsam:Action="http://Server/Dcms/createSRecordRequest" message="tns:createSRecord"/>
      <output wsam:Action="http://Server/Dcms/createSRecordResponse" message="tns:createSRecordResponse"/>
    </operation>
    <operation name="getRecordCount">
      <input wsam:Action="http://Server/Dcms/getRecordCountRequest" message="tns:getRecordCount"/>
      <output wsam:Action="http://Server/Dcms/getRecordCountResponse" message="tns:getRecordCountResponse"/>
    </operation>
    <operation name="editRecord" parameterOrder="arg0 arg1 arg2 arg3">
      <input wsam:Action="http://Server/Dcms/editRecordRequest" message="tns:editRecord"/>
      <output wsam:Action="http://Server/Dcms/editRecordResponse" message="tns:editRecordResponse"/>
    </operation>
    <operation name="transferRecord" parameterOrder="arg0 arg1 arg2">
      <input wsam:Action="http://Server/Dcms/transferRecordRequest" message="tns:transferRecord"/>
      <output wsam:Action="http://Server/Dcms/transferRecordResponse" message="tns:transferRecordResponse"/>
    </operation>
  </portType>
  <binding name="DcmsPortBinding" type="tns:Dcms">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="createTRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://Server/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://Server/"/>
      </output>
    </operation>
    <operation name="createSRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://Server/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://Server/"/>
      </output>
    </operation>
    <operation name="getRecordCount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://Server/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://Server/"/>
      </output>
    </operation>
    <operation name="editRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://Server/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://Server/"/>
      </output>
    </operation>
    <operation name="transferRecord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://Server/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://Server/"/>
      </output>
    </operation>
  </binding>
  <service name="DcmsService">
    <port name="DcmsPort" binding="tns:DcmsPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

